# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
__pycache__

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

data

deploy_meta
code_lines.json
ocrh.zip
scripts/*-local.mjs
deploy.sh
setup.sh

# Generated commit id
utils/meta/commit.ts
server/utils/meta/commit.ts
