{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "bracketSameLine": true,
    "endOfLine": "lf",
    "singleAttributePerLine": true
}
